* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #00ff88;
    font-family: Consolas, "Courier New", monospace;
    min-height: 100vh;
}

/* ==========================
   PANTALLA DE ADVERTENCIA
   ========================== */

#warning-screen {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

.warning-box {
    width: 100%;
    max-width: 850px;

    border: 2px solid #00ff88;

    padding: 40px;

    box-shadow: 0 0 25px rgba(0, 255, 136, 0.25);
}

.warning-header {
    margin-bottom: 20px;

    font-size: 14px;
    letter-spacing: 2px;

    color: #66ffbb;
}

.warning-box h1 {
    margin-bottom: 25px;

    font-size: 38px;
    font-weight: bold;
}

.warning-box p {
    margin-bottom: 15px;

    font-size: 18px;
    line-height: 1.6;
}

button {
    margin-top: 20px;

    background: transparent;

    color: #00ff88;

    border: 2px solid #00ff88;

    padding: 14px 28px;

    font-size: 18px;

    cursor: pointer;

    transition: 0.2s;
}

button:hover {
    background: #00ff88;
    color: black;
}

/* ==========================
   TERMINAL
   ========================== */

#terminal-screen {
    display: none;

    max-width: 1300px;

    margin: auto;

    padding: 40px;
}

.terminal-header {
    margin-bottom: 25px;

    color: #66ffbb;

    font-size: 15px;

    letter-spacing: 1px;

    border-bottom: 1px solid #00ff88;

    padding-bottom: 10px;
}

#terminal-output {

    white-space: pre-wrap;

    word-break: break-word;

    font-size: 22px;

    line-height: 1.7;

    overflow-wrap: break-word;
}

/* ==========================
   EFECTO CRT SUAVE
   ========================== */

body::before {
    content: "";

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    pointer-events: none;

    background:
        repeating-linear-gradient(
            transparent 0px,
            transparent 2px,
            rgba(0,255,136,0.03) 3px
        );

    opacity: 0.35;
}
